body{
    background-color: darkolivegreen;
}


.container,
.containerTable {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

form div {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
form {
    border: 4px solid black;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4,auto); /* <-- ici tu dis : 2 colonnes */
    gap: 10px;
    grid-template-areas: 
        "name message"
        "prenom message"
        "tel message"
        "email message"
        "password message";
    /* optionnel pour aérer un peu */
}

#prenom {
    grid-area: name;
}
#name {
    grid-area: prenom;
}
#email {
    grid-area: email;
}
#telephone {
    grid-area: tel;
}

#password {
    grid-area: password;
}
#message {
    grid-area: message;
    justify-self: start; /* Aligne le message à gauche dans sa cellule */
}



/* Une seule colonne sur les petits écrans */
@media screen and (width< 480px) {
    form {
        grid-template-columns: auto; 
        grid-template-areas: 
            "name"
            "prenom"
            "tel"
            "email"
            "password"
            "message";
    }
    body{
        background-color: aqua;
    }
   
}
/* Deux colonnes sur les écrans moyens */
@media screen and (480px< width < 960px) {
    form {
        grid-template-columns: auto auto; 
        grid-template-areas: 
            "name prenom"
            "tel email"
  
            "message ";
    }
    textarea {
        width: 350px;
       
      }
      body{
        background-color: chocolate;
    }
    
}
